.stock
  padding-top: 20px
  margin-bottom: 40px

.stock__cont

.stock__caption
  margin-bottom: 20px

.stock__empty
  font-size: 30px
  color: #000
  margin-top: 70px
  font-weight: 700
  text-align: center
