.delivery
  padding-top: 20px
  padding-bottom: 50px

.delivery__cont

.delivery__caption
  margin-bottom: 30px

.delivery__list

.delivery__item
  display: flex
  margin-bottom: 50px
  @media screen and (max-width: 520px)
    flex-direction: column
    align-items: center
  &:last-of-type
    margin-bottom: 0

.delivery__icon
  margin-right: 50px
  flex-shrink: 0
  width: 96px
  height: 96px
  @media screen and (max-width: 520px)
    margin-right: 0

.delivery__box
  padding-top: 10px
  max-width: 520px

.delivery__title
  margin-bottom: 10px
  font-size: 24px
  @media screen and (max-width: 520px)
    text-align: center

.delivery__text
  font-size: 18px

.delivery__orange
  color: #f5551e
  font-weight: 700

.delivery__button-map
  display: block
  padding: 30px 40px
  font-size: 19px
  font-weight: 700
  background-image: url("../../images/bg_button_map.png")
  background-size: cover
  background-repeat: no-repeat
