.menu-link
  display: inline-block
  padding: 12px
  font-size: 14px
  color: #737373
  border-top: 0.0625rem solid #ebebeb
  font-weight: 700
  letter-spacing: 1.15px
  transition-duration: 0.3s
  transition-property: color
  &:hover
    color: #242422
