.faq
  padding-bottom: 50px

.faq__cont

.faq__list

.faq__item

.faq__toggle
  display: block
  width: 100%
  cursor: pointer
  padding: 10px
  font-size: 22px
  border-bottom: 2px solid
  letter-spacing: 1.15px
  user-select: none
  color: #f5551e
  text-align: left
  @media screen and (max-width: 520px)
    font-size: 18px

.faq__toggle_active
  & + .faq__content
    display: block

.faq__content
  margin-top: 20px
  margin-left: 20px
  display: none
