.menu-sidebar
  width: 320px
  flex-shrink: 0
  box-shadow: 5px 0 5px -5px #ccc
  @media screen and (max-width: 1240px)
    display: none

.menu-sidebar__list
  display: flex
  flex-direction: column
  position: sticky
  top: 80px
