.not-found
  margin: 100px 0
  flex-grow: 1

.not-found__cont
  text-align: center

.not-found__caption
  font-size: 64px
  font-weight: 700

.not-found__text
  font-size: 22px

.not-found__link
  font-size: 22px
  color: #f5551e
