.our-menu
  padding: 40px 0

.our-menu__cont

.our-menu__title
  margin-bottom: 25px
  text-align: center
  @media screen and (max-width: 1240px)
    margin-bottom: 10px

.our-menu__list
  display: flex
  flex-wrap: wrap

.our-menu__link
  width: 33.33%
  padding: 10px 0
  @media screen and (max-width: 950px)
    width: 50%
  @media screen and (max-width: 700px)
    width: 100%

.our-menu__image
  margin: 0 auto 5px
  width: 308px
  height: 210px
  @media screen and (max-width: 1240px)
    width: 250px
    height: 170px
  @media screen and (max-width: 700px)
    width: 280px
    height: 191px

.our-menu__name
  text-align: center
  font-size: 22px
  color: #737373
