.footer
  margin-top: auto
  background-color: #f0f0f0
  overflow: hidden

.footer__cont

.footer__area
  position: relative
  display: flex
  align-items: flex-start
  justify-content: space-between
  padding: 60px 0 40px
  @media screen and (max-width: 1240px)
    padding: 20px 0 20px
  @media screen and (max-width: 520px)
    flex-wrap: wrap
  &::before
    content: ""
    height: 1px
    background-color: #737373
    position: absolute
    bottom: 0
    left: 50%
    width: 100vw
    transform: translateX(-50%)

.footer__list
  max-width: 390px
  width: 100%
  display: flex
  flex-wrap: wrap
  @media screen and (max-width: 1240px)
    display: none

.footer__link
  margin-bottom: 20px
  width: 50%
  font-size: 22px
  font-weight: 700
  letter-spacing: 1.15px

.footer__localities
  @media screen and (max-width: 520px)
    width: 100%
    text-align: center
    margin-bottom: 20px

.footer__title
  margin-bottom: 20px
  font-weight: 700
  font-size: 22px
  letter-spacing: 1.15px
  color: #000
  @media screen and (max-width: 1240px)
    font-size: 19px
  @media screen and (max-width: 520px)
    margin-bottom: 10px

.footer__locality-list

.footer__locality-item
  font-size: 18px
  margin-bottom: 10px
  @media screen and (max-width: 1240px)
    font-size: 16px

.footer__contacts
  @media screen and (max-width: 520px)
    width: 100%
    text-align: center

.footer__contacts-box
  &:not(:last-of-type)
    margin-bottom: 15px

.footer__contacts-name
  font-size: 18px
  color: #000
  @media screen and (max-width: 1240px)
    font-size: 16px

.footer__contacts-value
  font-size: 18px
  font-weight: 700
  @media screen and (max-width: 1240px)
    font-size: 16px

.footer__bottom
  padding: 30px 0
  display: flex
  justify-content: space-between
  align-items: center
  @media screen and (max-width: 1240px)
    flex-wrap: wrap
    align-items: normal

.footer__logo-box
  width: 146px
  @media screen and (max-width: 1240px)
    display: flex
    margin-bottom: 20px
    width: 50%
  @media screen and (max-width: 700px)
    width: 100%
    display: flex
    justify-content: center

.footer__logo
  @media screen and (max-width: 1240px)
    width: 146px

.footer__logo-text
  height: 45px

.footer__copyright-box
  width: 235px
  @media screen and (max-width: 1240px)
    margin: 0 0 20px
    width: 288px
  @media screen and (max-width: 700px)
    width: 100%
    display: flex
    justify-content: center

.footer__copyright
  text-align: center
  @media screen and (max-width: 1240px)
    width: 235px
    margin: 0 auto

.footer__social-box
  @media screen and (max-width: 1240px)
    width: 50%
    margin-left: -5px
  @media screen and (max-width: 700px)
    width: 100%
    margin: 0 0 20px
    display: flex
    justify-content: center

.footer__social-list
  display: flex

.footer__social-link
  display: block
  margin: 0 5px

.footer__social-image
  width: 45px
  height: 45px

.footer__app-box
  @media screen and (max-width: 700px)
    width: 100%
    display: flex
    justify-content: center

.footer__app-list
  display: flex
  margin-right: -5px
  @media screen and (max-width: 520px)
    flex-direction: column

.footer__app-link
  display: block
  margin: 0 5px
  @media screen and (max-width: 520px)
    margin: 0 0 10px

.footer__app-image
  width: 139px
  height: 45px
