.menu-tile
  padding: 30px
  @media screen and (max-width: 1240px)
    padding: 30px 0

.menu-tile__title
  margin-bottom: 20px

.menu-tile__area
  display: flex
  flex-wrap: wrap
  justify-content: space-between
