.cookie
  position: fixed
  bottom: 10px
  left: 20px
  right: 20px
  pointer-events: none

.cookie__box
  display: flex
  align-items: center
  max-width: 840px
  margin: 0 auto
  pointer-events: auto
  padding: 10px 15px
  border-radius: 4px
  background-color: #fff
  box-shadow: 0 0 5px rgba(#000, .2)

.cookie__text
  margin-right: 10px
  font-size: 14px

.cookie__link
  font-size: 14px
  color: #f5551e

.cookie__button
  flex-shrink: 0
