@font-face
  font-family: 'AFuturaRound'
  src: url('../fonts/AFuturaRound.woff2') format('woff2'), url('../fonts/AFuturaRound.woff') format('woff')
  font-weight: 400
  font-style: normal
  font-display: block

@font-face
  font-family: 'AFuturaRound'
  src: url('../fonts/AFuturaRoundBold.woff2') format('woff2'), url('../fonts/AFuturaRoundBold.woff') format('woff')
  font-weight: 700
  font-style: normal
  font-display: block
