.restaurants
  padding-top: 20px
  padding-bottom: 35px

.restaurants__cont

.restaurants__caption
  margin-bottom: 20px

.restaurants__list

.restaurants__item
  display: flex
  @media screen and (max-width: 700px)
    display: block
  &:not(:last-of-type)
    margin-bottom: 35px

.restaurants__image
  margin-right: 20px
  flex-shrink: 0
  width: 330px
  height: 204px
  @media screen and (max-width: 950px)
    width: 280px
    height: 173px
  @media screen and (max-width: 700px)
    margin-right: 0
    margin-bottom: 20px

.restaurants__box

.restaurants__address
  margin-bottom: 15px
  font-size: 24px
  font-weight: 700

.restaurants__work-time
  margin-bottom: 15px
  color: #737373
  font-size: 18px

.restaurants__phone
  display: inline-block
  margin-bottom: 15px
  font-size: 19px
  font-weight: 700

.restaurants__description
  color: #737373
  font-size: 18px
